<div class="support bg-light min-vh-100">
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-12 col-md-2">
        <app-side-navbar></app-side-navbar>
      </div>

      <!-- Main Content -->
      <div class="col-12 col-md-9 mx-auto px-4 py-4">
        <!-- Top Section -->
        <div
          class="bg-white rounded-4 p-4 border border-success-subtle d-flex justify-content-between align-items-center flex-wrap">
          <!-- Left: Text & Input -->
          <div class="col-lg-6">
            <h2 class="fw-semibold">
              Welcome To <span class="text-primary">Roomly</span> Support
            </h2>
            <textarea class="form-control my-3" placeholder="Tell Us Your Problem..." rows="4"></textarea>
            <button class="btn btn-primary rounded px-4">Send</button>
          </div>

          <!-- Right: Illustration -->
          <div class="col-lg-3 text-center mt-3 mt-lg-0">
            <img src="./../assets/Images/support illustration.png" class="img-fluid" />
          </div>
        </div>

        <!-- Help Section -->
        <div class="mt-5">
          <h6 class="fw-semibold">Need Help? We’ve Got Your Back</h6>
          <p class="text-secondary">
            Perhaps you can find the answers in our collection
          </p>

          <!-- Cards -->
          <div class="d-flex  gap-3 mt-4">
            <div class="bg-white rounded-4 p-3 flex-fill text-center support-card" style="min-width: 250px;">
              <img src="./../assets/Images/community.png" class="mb-2" style="width: 45px; height: auto;" />
              <h6 class="text-primary fw-semibold">Community</h6>
              <p class="text-secondary small">
                Connect with other workspace owners to share ideas, ask questions, and collaborate on solutions.
              </p>
            </div>

            <div class="bg-white rounded-4 p-3 flex-fill text-center support-card" style="min-width: 250px;">
              <img src="./../assets/Images/trust&safety.png" class="mb-2" style="width: 45px; height: auto;" />
              <h6 class="text-success fw-semibold">Trust & Safety</h6>
              <p class="text-secondary small">
                Learn how we keep your data secure and ensure a safe experience for both you and your customers.
              </p>
            </div>

            <div class="bg-white rounded-4 p-3 flex-fill text-center support-card" style="min-width: 250px;">
              <img src="./../assets/Images/Q.A.png" class="mb-2" style="width: 45px; height: auto;" />
              <h6 class="text-info fw-semibold">F.A.Q</h6>
              <p class="text-secondary small">
                Find quick answers to the most common questions about bookings, payments, and account settings.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>