<section class="py-5 bg-black text-white ">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2 class="text-primary fs-2 mb-2">About Us</h2>
                <h3 class="text-primary fs-4 fw-normal mb-2">
                    Lorem Ipsum is that it has a more-or-less normal
                </h3>
                <p class="text-secondary">
                    Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                    'Content here, content here'.
                </p>
            </div>
            <!-- <div class="col-md-6 text-center">
          <div class="custom-shape overflow-hidden mx-auto">
            <img src="./../../../assets/Images/about-us-section-image01.png" alt="About Image" class="img-fluid" />
          </div>
        </div> -->
            <!-- -------------------------------------------------------------------------- -->
            <!-- <div class="col-md-6 text-center">
            <div class="custom-shape mx-auto">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#0939A1" d="M37.8,-29.6C47.3,-18.2,52.2,-2.6,51.9,17.1C51.6,36.8,46.1,60.5,31.9,68C17.7,75.6,-5.2,67,-20.4,54.9C-35.6,42.7,-43,27.1,-47.2,10.3C-51.4,-6.5,-52.4,-24.6,-44,-35.7C-35.6,-46.8,-17.8,-50.9,-1.8,-49.5C14.2,-48,28.3,-41,37.8,-29.6Z" transform="translate(100 100)" />
                  </svg>
              <img src="./../../../assets/Images/about-us-section-image01.png" alt="About Image" class="img-fluid" />
            </div>
          </div> -->
            <!-- --------------------------------------------------------- -->

            <div class="col-md-6 text-center position-relative">
                <!-- SVG Blob Background -->
                <svg  class="blob-svg position-absolute" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#0939A1" d="M37.8,-29.6C47.3,-18.2,52.2,-2.6,51.9,17.1C51.6,36.8,46.1,60.5,31.9,68C17.7,75.6,-5.2,67,-20.4,54.9C-35.6,42.7,-43,27.1,-47.2,10.3C-51.4,-6.5,-52.4,-24.6,-44,-35.7C-35.6,-46.8,-17.8,-50.9,-1.8,-49.5C14.2,-48,28.3,-41,37.8,-29.6Z" transform="translate(100 100)" />
                  </svg>

                <!-- Image with custom border-radius -->
                <img src="./../../../assets/Images/about-us-section-image01.png" alt="About Image"
                    class="styled-img position-relative" />
            </div>

        </div>

        <div class="row flex-md-row-reverse">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2 class="text-primary fs-2 mb-2">Our Mission</h2>
                <h3 class="text-primary fs-4 fw-normal mb-2">
                    Lorem Ipsum is that it has a more-or-less normal
                </h3>
                <p class="text-secondary">
                    Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                    'Content here, content here'.
                    <br /><br />
                    Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                    'Content here, content here'.
                </p>
            </div>
            <!-- <div class="col-md-6 text-center">
                <div class="custom-shape overflow-hidden mx-auto">
                    <img src="./../../../assets/Images/about-us-section-image02.png" alt="Mission Image"
                        class="img-fluid" />
                </div>
            </div> -->
            <div class="col-md-6 text-center position-relative">
                <!-- SVG Blob Background -->
                <svg  class="blob-svg position-absolute" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#0939A1" d="M37.8,-29.6C47.3,-18.2,52.2,-2.6,51.9,17.1C51.6,36.8,46.1,60.5,31.9,68C17.7,75.6,-5.2,67,-20.4,54.9C-35.6,42.7,-43,27.1,-47.2,10.3C-51.4,-6.5,-52.4,-24.6,-44,-35.7C-35.6,-46.8,-17.8,-50.9,-1.8,-49.5C14.2,-48,28.3,-41,37.8,-29.6Z" transform="translate(100 100)" />
                  </svg>

                <!-- Image with custom border-radius -->
                <img src="./../../../assets/Images/about-us-section-image02.png" alt="About Image"
                    class="styled-img position-relative" />
            </div>
        </div>
    </div>
</section>