.registration-container {
    z-index: 1060;
  
    .registration-form {
      backdrop-filter: blur(10px);
      background-color: rgba(137, 137, 137, 0.3);
    }
  
    .form-control {
      transition: all 0.3s ease;
  
      &:focus {
        background-color: rgba(255, 255, 255, 1) !important;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  
        + label,
        ~ i {
          color: #000 !important;
        }
      }
    }
  }

  .form-check {
    display: flex;
    align-items: center;
    .form-check-input {
      margin-top: 0;
    }
  }

  .modal {
    z-index: 1060; // Higher than the overlay
  }
  
  .registration-container {
    z-index: 1065;
  }
  
  .bg-dark.bg-opacity-75 {
    backdrop-filter: blur(4px); // Optional blur effect for extra polish
  }
  
  