  .roomly-footer {
    background-color: #212529;
    
    a {
      color: white;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
        opacity: 0.8;
      }
    }
    
    ul {
      padding-left: 0;
      list-style: none;
    }
  }