.indicator-icon {
  width: 20px;   // or match what Figma uses like 12px or 20px
  height: 20px;
  object-fit: contain;
}
.price
{
    color: #0A3FB3;
}
.add-feature .circle
{
  background-color: #0A3FB3;
}
